<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">
    <ion-icon name="alert-outline"></ion-icon>
      Alerta
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>

<ion-content>
  <ion-img src="{{ alert.image }}"></ion-img>
  <br>
  <ion-list class="mt-4 fs-6 ps-4 pe-4" lines="full">
    <ion-item-divider color="dark pt-2 pb-2 fs-3 text-center rounded">
        <ion-label class="fs-3">Datos generales</ion-label>
        <ion-icon name="people" class="ms-2"></ion-icon>
    </ion-item-divider>
    <ion-item class="mb-4 mt-4 ion-no-margin">
        <ion-label name="name" type="text"><strong>Nombres:</strong> {{ alert.name }}</ion-label>
    </ion-item>
    <ion-item class="mb-4">
        <ion-label name="lastname" type="text"><strong>Apellidos:</strong> {{ alert.lastname }}</ion-label>
    </ion-item>
    <ion-item class="mb-4">
        <ion-label name="age" type="number"><strong>Edad:</strong> {{ alert.age }}</ion-label>
    </ion-item>
    <ion-item class="mb-4">
        <ion-label><strong>Lugar de desaparición:</strong></ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="showLocation(alert)">
            <ion-icon name="map" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-item>
    <!-- <ion-item class="mb-4">
      <ion-label><strong>Última vez visto:</strong> </ion-label>
        <ion-label id="lastdate" name="lastdate" display-format="DD.MM.YYYY">{{ alert.lastdate }}</ion-label>
    </ion-item> -->
    <ion-item class="mb-4">
        <ion-text name="sex"><strong>Sexo:</strong> {{ (alert.sex === "M") ? "Masculino" : "Femenino" }}</ion-text>
    </ion-item>
    <ion-item-group>
        <ion-item-divider color="dark pb-2 pt-2 fs-4 rounded">
          <ion-label>Descripción</ion-label>
          <ion-icon name="man" class="ms-2"></ion-icon>
          <ion-icon name="woman"></ion-icon>
        </ion-item-divider>
        <ion-item class="mb-4 mt-4">
            <ion-label name="tez" type="text"><strong>Tez:</strong> {{ alert.description.tez }}</ion-label>
        </ion-item>
        <ion-item class="mb-4">
            <ion-label name="complexion" type="text"><strong>Complexión:</strong> {{ alert.description.complexion }}</ion-label>
        </ion-item>
        <ion-item class="mb-4">
            <ion-label name="hair" type="text"><strong>Color de cabello:</strong> {{ alert.description.hair }}</ion-label>
        </ion-item>
        <ion-item class="mb-4">
            <ion-label name="special_signs" type="text"><strong>Signos especiales:</strong> {{ alert.description.special_signs }}</ion-label>
        </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" slot="icon-only" class="me-2"></ion-icon>
        <ion-label>Regresar</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="call()" slot="end">
        <ion-icon name="call" class="me-2" slot="icon-only" class="me-2"></ion-icon>
        <ion-label>Reportar</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>