<ion-content id="bg-login" class="ion-padding">
    <ion-grid class="center" fixed>
        <ion-row class="center pb-4" class="center-content">
            <ion-col size="12"> 
                <img src="./../../../assets/images/aAlert.jpeg" alt="aAlert" class="rounded border border-white mb-4"> 
                <form #login="ngForm" (ngSubmit)="onSubmit(login)" class="mt-2">
                    <div>
                        <div>
                            <ion-input [(ngModel)]="userLogin.username" name="username" type="text" class="bg-white text-dark ps-3 pe-3" placeholder="Nombre de Usuario" required></ion-input>
                        </div>
                        <div class="mb-4 mt-4">
                            <ion-input [(ngModel)]="userLogin.password" name="password" type="password" class="bg-white text-dark ps-3 pe-3" placeholder="Contraseña" required></ion-input>
                        </div>
                        <div class="d-grid mt-4">
                            <button type="submit" class="btn bg-primary text-light" strong="true" [disabled]="!login.form.valid">Ingresar</button>
                        </div>
                    </div>
                </form>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title><a routerLink="/register" class="text-primary">Registrarme</a></ion-title>
    </ion-toolbar>
</ion-footer>