* {
    color: white;
}

img {
    text-align: center;
    margin: 0 auto;
    width: 8rem;
}

.center {
    margin: 0 auto;
    text-align: center;
}

a {
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    * {
        color: white;
    }
}

#bg-login {
    --ion-background: #8E2DE2;  /* fallback for old browsers */
    --background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    --background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ion-grid {
    height: 100%!important;
}

ion-row {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    height: 100%!important;
}