<ion-content class="bg-register ion-padding">
    <ion-grid class="center" fixed>
        <ion-row>
            <ion-col size="12">
                <form #register="ngForm" (ngSubmit)="onSubmit(register)">
                    <ion-list lines="full">
                        <ion-item>
                            <ion-label class="fs-1 fw-bolder text-center text-secondary">Crea tu Cuenta</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating" color="tertiary">Nombres</ion-label>
                            <ion-input [(ngModel)]="userRegister.name" name="name" type="text" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating" color="tertiary">Apellidos</ion-label>
                            <ion-input [(ngModel)]="userRegister.lastname" name="lastname" type="text" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating" color="tertiary">Nombre de Usuario</ion-label>
                            <ion-input [(ngModel)]="userRegister.username" name="username" type="text" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating" color="tertiary">Contraseña</ion-label>
                            <ion-input [(ngModel)]="userRegister.password" name="password" type="password" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating" color="tertiary">DPI</ion-label>
                            <ion-input [(ngModel)]="userRegister.DPI" name="DPI" type="number" required></ion-input>
                        </ion-item>
                        <ion-item class="pb-4">
                            <ion-label position="floating" color="tertiary">Phone</ion-label>
                            <ion-input [(ngModel)]="userRegister.phone" name="phone" type="number" value="+502" required></ion-input>
                        </ion-item>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary" strong="true" [disabled]="!register.form.valid">Registrarme</button>
                        </div>
                    </ion-list>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title><a routerLink="/login" class="text-primary">Iniciar Sesión</a></ion-title>
    </ion-toolbar>
</ion-footer>