<ion-content class="bg-register ion-padding">
    <ion-grid class="center" fixed>
        <ion-row>
            <ion-col size="12">
                <form #register="ngForm" (ngSubmit)="onSubmit(register)">
                    <div>
                        <div>
                            <ion-label class="fs-1 fw-bolder text-center">Crea tu Cuenta</ion-label>
                        </div>
                        <div class="mb-4 mt-4">
                            <ion-input [(ngModel)]="userRegister.name" name="name" type="text" class="bg-white text-dark ps-3 pe-3" placeholder="Nombre" required></ion-input>
                        </div>
                        <div class="mb-4 mt-4">
                            <ion-input [(ngModel)]="userRegister.lastname" name="lastname" type="text" class="bg-white text-dark ps-3 pe-3" placeholder="Apellido" required></ion-input>
                        </div>
                        <div class="mb-4 mt-4">
                            <ion-input [(ngModel)]="userRegister.username" name="username" type="text" class="bg-white text-dark ps-3 pe-3" placeholder="Nombre de Usuario" required></ion-input>
                        </div>
                        <div class="mb-4 mt-4">
                            <ion-input [(ngModel)]="userRegister.password" name="password" type="password" class="bg-white text-dark ps-3 pe-3" placeholder="Contraseña" required></ion-input>
                        </div>
                        <div class="mb-4 mt-4">
                            <ion-input [(ngModel)]="userRegister.DPI" name="DPI" type="number" class="bg-white text-dark ps-3 pe-3" placeholder="DPI" required></ion-input>
                        </div>
                        <div class="mb-4 mt-4 pb-4">
                            <ion-input [(ngModel)]="userRegister.phone" name="phone" type="number" value="+502" class="bg-white text-dark ps-3 pe-3" placeholder="Número telefónico" required></ion-input>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn bg-light text-dark" strong="true" [disabled]="!register.form.valid">Registrarme</button>
                        </div>
                    </div>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title><a routerLink="/login" class="text-primary">Iniciar Sesión</a></ion-title>
    </ion-toolbar>
</ion-footer>