img {
    text-align: center;
    width: 15em;
    margin-top: 5 !important;
}

.inputbig {
    font-size: 26px !important;
  }

.labelsize{
    font-size: 16px !important;
}

.center {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
