<ion-header>
    <ion-toolbar>
        <ion-icon name="alert-outline"></ion-icon>
        <ion-label class="text-center">
            Alertas
        </ion-label>
        <section slot="end">
            <ion-button color="primary" fill="solid" expand="block" (click)="showMyAlerts()">
                <ion-icon name="clipboard-outline"></ion-icon>
                <ion-label>Mis alertas</ion-label>
            </ion-button>
        </section>
    </ion-toolbar>
</ion-header>
<!-- <br>
<ion-toolbar>
    <section>
        <ion-button color="primary" fill="solid" expand="block" (click)="showMyAlerts()">
            <ion-icon name="clipboard-outline"></ion-icon>
            <ion-label>Mis alertas</ion-label>
        </ion-button>
    </section>
</ion-toolbar> -->

<ion-content [fullscreen]="false">
    <ion-header class="mb-4">
        <ion-toolbar>
            <ion-title>Todas las alertas</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list class="pe-4">
        <ion-item *ngFor="let alert of alerts" (click)="setAlertInfo(alert)" slot="start" class="mb-2">
            <ion-thumbnail slot="start">
                <img src="./../../../assets/images/aAlert.jpeg" shape="round" class="rounded">
            </ion-thumbnail>
            <ion-label>{{ alert.name }} {{ alert.lastname }} </ion-label>
        </ion-item>
    </ion-list>
</ion-content>